$utilities: map-merge(
  $utilities,
  (
    "max-width": (
      property: max-width,
      class: mw,
      responsive: true,
      values: $max-widths
    ),
    "font-size": (
      rfs: true,
      responsive: true,
      property: font-size,
      class: fs,
      values: $font-sizes
    ),
    "letter-spacing": (
      property: letter-spacing,
      class: ls,
      values: $letter-spacings
    )
  )
);
