.container.pt-3
  .row
    .col-12.d-flex.align-items-center.column-gap-14
      nav.mb-2(aria-label="breadcrumb")
        ol.breadcrumb.mb-0
          li.breadcrumb-item
            a.d-flex.align-items-center.column-gap-5.text-decoration-none(href="#")
              +icon('arrow-left')
              span.text-black.opacity-50 Back to News
      hr.flex-grow-1

.container.pt-7 
  .row
    .col-12.d-flex.column-gap-16
      aside.mw-239
        ul.nav.row-gap-5
          li.nav-item.flex-grow-1
            a.d-flex.justify-content-between.text-decoration-none.column-gap-4(href="#")
              span.fs-24 💸
              .d-flex.flex-column.mw-193.flex-grow-1.flex-shrink-0.pt-2
                time.fw-light.fs-14.ls-1.text-black.opacity-30.lh-1.mb-1 24.03.2025 
                span.fw-normal.fs-18.ls-1.text-danger Hot deal on Ultima-Win – 35% off until April 25 only!
          li.nav-item.flex-grow-1
            a.d-flex.justify-content-between.text-decoration-none.column-gap-4(href="#")
              span.fs-24 🔋
              .d-flex.flex-column.mw-193.flex-grow-1.flex-shrink-0.pt-2
                time.fw-light.fs-14.ls-1.text-black.opacity-30.lh-1.mb-1 24.03.2025 
                span.fw-normal.fs-18.ls-1.text-black.opacity-50 Power Saver: Pharmacom International – Buy 1 Get 1 FREE
          li.nav-item.flex-grow-1
            a.d-flex.justify-content-between.text-decoration-none.column-gap-4(href="#")
              span.fs-24 💸
              .d-flex.flex-column.mw-193.flex-grow-1.flex-shrink-0.pt-2
                time.fw-light.fs-14.ls-1.text-black.opacity-30.lh-1.mb-1 24.03.2025 
                span.fw-normal.fs-18.ls-1.text-black.opacity-50 Hot deal on Ultima-Win – 35% off until April 25 only!
          li.nav-item.flex-grow-1
            a.d-flex.justify-content-between.text-decoration-none.column-gap-4(href="#")
              span.fs-24 🔋
              .d-flex.flex-column.mw-193.flex-grow-1.flex-shrink-0.pt-2
                time.fw-light.fs-14.ls-1.text-black.opacity-30.lh-1.mb-1 24.03.2025 
                span.fw-normal.fs-18.ls-1.text-black.opacity-50 Power Saver: Pharmacom International – Buy 1 Get 1 FREE

      section.ps-4
        .d-flex.flex-column
          time.fw-light.fs-14.lh-1.ls-1.mb-4.mt-2 24.03.2025
          h1.fs-40.fw-semibold.ls-1.mb-9 Hot deal on Ultima-Win – 35% off until April 25 only!
          .mb-9
            img.img-fluid(src="img/news-items/image-1.jpg" alt="Hot deal on Ultima-Win – 35% off until April 25 only!")

          .d-flex.flex-column.row-gap-7.border-start.border-gray-light.fs-20.fw-normal.ls-1.ps-10.mw-965
            p Champions don’t wait — they act. Whether you’re grinding hard or going for the win, Ultima-Win gives you the edge you need. For a limited time, claim your 35% discount and fuel your progress like never before.
            p ⏳ Offer ends April 25 — go get it!
