.d-grid.grid-columns-xxl-3.grid-columns-xl-2.grid-columns-lg-3.grid-columns-2.column-gap-md-8.column-gap-6.row-gap-md-9.row-gap-5
  +product('img/products/ultima-win.jpg', 'Ultima-Win', '$40.00', 'Stanozolol Suspension', '10 ml x 50 mg/ml')
  +product('img/products/ultima-t3.jpg', 'Ultima-T3', '$40.00', 'Liothyronine Sodium', '50 pills x 25 mcg')
  +product('img/products/ultima-anastro.jpg', 'Ultima-Anastro (Arimidex)', '$40.00', 'Anastrozole', '30 pills x 1 mg')
  +product('img/products/ultima-t3.jpg', 'Ultima-T3', '$40.00', 'Liothyronine Sodium', '50 pills x 25 mcg')
  +product('img/products/ultima-anastro.jpg', 'Ultima-Anastro (Arimidex)', '$40.00', 'Anastrozole', '30 pills x 1 mg')
  +product('img/products/ultima-win.jpg', 'Ultima-Win', '$40.00', 'Stanozolol Suspension', '10 ml x 50 mg/ml')
  +product('img/products/ultima-win.jpg', 'Ultima-Win', '$40.00', 'Stanozolol Suspension', '10 ml x 50 mg/ml')
  +product('img/products/ultima-t3.jpg', 'Ultima-T3', '$40.00', 'Liothyronine Sodium', '50 pills x 25 mcg')
  +product('img/products/ultima-anastro.jpg', 'Ultima-Anastro (Arimidex)', '$40.00', 'Anastrozole', '30 pills x 1 mg')
  +product('img/products/ultima-win.jpg', 'Ultima-Win', '$40.00', 'Stanozolol Suspension', '10 ml x 50 mg/ml')
  +product('img/products/ultima-t3.jpg', 'Ultima-T3', '$40.00', 'Liothyronine Sodium', '50 pills x 25 mcg')
  +product('img/products/ultima-anastro.jpg', 'Ultima-Anastro (Arimidex)', '$40.00', 'Anastrozole', '30 pills x 1 mg')
