section.d-flex.flex-column.flex-grow-1.pt-md-0.pt-3
  .container.d-flex.flex-column.flex-grow-1
    .row.flex-grow-1
      .col-12
        +linedTitle('Search Results')
      .col-12.py-10
        .d-flex.flex-column.justify-content-center.align-items-center
          span.fs-60.mb-6  🤷
          .mw-md-499.mw-244.fw-normal.fs-md-30.fs-16.ls-1.text-center
            p Sorry, but we couldn’t find anything matching your request.