include ../layout/_mixins
doctype html
html(lang="en")
  block head
  include ../layout/_head
  body
    .wrapper.d-flex.flex-column
      // Header
      - var activePage = 'Main'
      include ../layout/_header

      // Main
      main.main.flex-grow-1.flex-shrink-1.pt-6.pb-6
        .container
          .d-flex.mb-6
            a.logo(href="/")
              include ../svg/logo.svg

          .d-flex.gap-3.mb-6.flex-wrap
            button.btn.btn-primary(type="button") Primary
            button.btn.btn-secondary(type="button") Secondary
            button.btn.btn-success(type="button") Success
            button.btn.btn-danger(type="button") Danger
            button.btn.btn-warning(type="button") Warning
            button.btn.btn-info(type="button") Info
            button.btn.btn-light(type="button") Light
            button.btn.btn-dark(type="button") Dark
            button.btn.btn-link(type="button") Link
            button.btn.btn-description(type="button") Link
          
          .row
            .col-6.mb-6
              .d-flex.align-items-center.column-gap-3
                input.form-control.fw-light.mw-md-486.border-0(placeholder="Search" type="search" id="search")
                label(for="search")
                  +icon('glass')

          .row
            .col-3.mb-6
              .d-flex.align-items-center.mb-3
                span.flex-grow-1 Default:
                button.btn.btn-danger.text-white Add to Cart
              .d-flex.align-items-center
                span.flex-grow-1 Lg: 
                button.btn.btn-danger.btn-lg.text-white Sign In

            .col-12.mb-9
              .d-flex.gap-5.align-items-start
                span Selects:
                
                select.js-select(name="currency")
                  option(value="usd") USD
                  option(value="eur") EUR
                  option(value="aud") AUD

                select.js-select(name="language")
                  option(value="eng") ENG
                  option(value="rus") RUS

                .choices--lg
                  select.js-select(name="")
                    option(value="USA Domestic 1") USA Domestic 1
                    option(value="USA Domestic 2") USA Domestic 2
                    option(value="USA Domestic 3") USA Domestic 3
              
            .col-12.mb-9
              .d-flex.flex-column.gap-2
                h1.text-danger.fw-normal h1. Heading
                h2.text-danger.fw-normal h2. Heading
                h3.text-danger.fw-normal h3. Heading

            .col-3.mb-15
              #range

          .row
            .col-3.mb-6
              .input-group.product-counter.mw-77
                button.btn.btn-counter.border-end-0.p-2.minus -
                input.form-control.bg-transparent.border-gray-light.border-end-0.border-start-0.px-0.text-center(type="number" value="1" min="1")
                button.btn.btn-counter.border-start-0.p-2.plus +

          .row
            .col-4.mb-9
              form.row.needs-validation(action="#" method="GET" novalidate)
                .mb-4
                  input.form-control.form-control-lg.fs-18.border-transparent(type="text" name="name" placeholder="Name" required)
                  .invalid-feedback.fw-light Please fill this field
                .mb-4
                  input.form-control.form-control-lg.fs-18.border-transparent(type="email" name="email" placeholder="Email" required)
                  .invalid-feedback.fw-light Please fill this field
                .col
                  button.btn.btn-danger.btn-lg.text-white.w-100(type="submit") Sign Up

            .col-12
              button.btn.btn-primary(data-bs-target="#newsModal" data-bs-toggle="modal") Open modal


      // Footer
      include ../layout/_footer

      // Modal
      .modal.fade#newsModal()
        .modal-dialog.modal-dialog-centered
          .modal-content.bg-transparent
            .modal-header
              button.btn-close.text-white(data-bs-dismiss="modal" aria-label="Close" type="button" style="--bs-btn-close-color: #ffffff !important")
            .modal-body.bg-white
              .bg-black
                img.img-fluid(src="img/banners/banner-modal.jpg", alt="banner")
                .text-white.pt-10.pb-11.px-12.fs-22.ls-5
                  p.mb-6 🔥 Champions don’t wait — they act 🔥 Whether you’re grinding hard or going for the win, Ultima-Win gives you the edge you need. 
                  p Get everything by this link: 
                    a.link-danger.text-decoration-none(href="#") google.com
  

      include ../layout/_scripts