include ../layout/_mixins
doctype html
html(lang="en")
  block head
  include ../layout/_head
  body
    .wrapper.d-flex.flex-column
      // Header
      - var activePage = 'Sign Up'
      //- include ./index/alert
      include ../layout/_header

      // Main
      main.main.flex-grow-1.flex-shrink-1.mb-md-11.mb-10
        include ./authorization/sign-up

      // Footer
      include ../layout/_footer

      include ../layout/_scripts