section.news.pt-md-1.pt-3.pb-10
  .container
    .position-relative.mb-md-10.mb-4
      h2.text-danger.z-1.position-relative.bg-white.mx-auto.px-11(style="width: fit-content") News
      hr.w-100.position-absolute.m-0.top-50.translate-middle-y.border-gray-light.opacity-100
    +newsPost('24.03.2025', 'Hot deal on Ultima-Win – 35% off until April 25 only!', 'img/news/ultima-news.jpg')
    hr.my-sm-7.my-4.border-gray-light.opacity-100
    +newsPost('24.03.2025', 'Power Saver: Pharmacom International – Buy 1 Get 1 FREE', 'img/news/ultima-news.jpg')
    hr.my-sm-7.my-4.border-gray-light.opacity-100
    +newsPost('24.03.2025', 'Hot deal on Ultima-Win – 35% off until April 25 only!', 'img/news/ultima-news.jpg')
    hr.my-sm-7.my-4.border-gray-light.opacity-100
    +newsPost('24.03.2025', 'Power Saver: Pharmacom International – Buy 1 Get 1 FREE', 'img/news/ultima-news.jpg')
    hr.my-sm-7.my-4.border-gray-light.opacity-100

nav(aria-label="Page navigation example")
  ul.pagination.justify-content-center.fw-light.column-gap-sm-4.column-gap-3
    li.page-item.active
      a.page-link.fs-md-16.fs-14.ls-1.rounded(href="#") 1
    li.page-item
      a.page-link.fs-md-16.fs-14.ls-1.rounded(href="#") 2
    li.page-item
      a.page-link.fs-md-16.fs-14.ls-1.rounded(href="#") 3
    li.page-item
      a.page-link.fs-md-16.fs-14.ls-1.rounded(href="#") 4
    li.page-item
      a.page-link.fs-md-16.fs-14.ls-1.rounded(href="#") 5
    li.page-item
      a.page-link.fs-md-16.fs-14.ls-1.rounded(href="#") ...