section.pt-1
  .container
    .row
      .col-12.mb-9
        +linedTitle('Dashboard')
      .col-3.pt-1
        .list-group.list-group-flush.bg-secondary.px-6
          a.list-group-item.list-group-item-action.fw-normal.fs-18.ls-1.ps-0.d-flex.align-items-center.column-gap-6.border-bottom-gray-light.active.text-decoration-underline.link-offset-1(href="#")
            +icon('dashboard')
            span Dashboard
          a.list-group-item.list-group-item-action.fw-normal.fs-18.ls-1.ps-0.d-flex.align-items-center.column-gap-6.border-bottom-gray-light(href="#")
            +icon('lock')
            span Orders
          a.list-group-item.list-group-item-action.fw-normal.fs-18.ls-1.ps-0.d-flex.align-items-center.column-gap-6.border-bottom-gray-light(href="#")
            +icon('location')
            span Adresses
          a.list-group-item.list-group-item-action.fw-normal.fs-18.ls-1.ps-0.d-flex.align-items-center.column-gap-6.border-bottom-gray-light(href="#")
            +icon('chat')
            span Tickets
          a.list-group-item.list-group-item-action.fw-normal.fs-18.ls-1.ps-0.d-flex.align-items-center.column-gap-6.border-bottom-gray-light(href="#")
            +icon('wallet')
            span Store Credit
      .col-8
        h5.fw-normal.fs-24.ls-1.mb-5 Hello, User

        p.fw-light.fs-18.ls-1.mw-806.mb-12 From your account dashboard you can easily check & view your 
          a.link-danger.text-decoration-none(href="#") recent orders, 
          | manage your 
          a.link-danger.text-decoration-none(href="#") shipping and billing addresses 
          | and 
          a.link-danger.text-decoration-none(href="#") edit your password 
          | and account details.

        h5.fw-normal.fs-24.ls-1.mb-5 My Orders:

        .pe-6
          table.table.table-hover.fw-medium.fs-16.ls-1
            thead.fw-light
              tr
                td(scope="col") Action
                td(scope="col") Order
                td(scope="col") Date
                td(scope="col") Status
                td(scope="col") Total
            tbody
              tr
                td
                  a.link-danger.text-decoration-none.fw-medium.fs-16.ls-1(href="#") View Order
                td 128883777901
                td 2025-02-21 15:20:23
                td
                  span.text-danger Awaiting Payment
                td $117.30
              tr
                td
                  a.link-danger.text-decoration-none.fw-medium.fs-16.ls-1(href="#") View Order
                td 128883777901
                td 2025-02-21 15:20:23
                td
                  span.text-success Shipped
                td $117.30
              tr
                td
                  a.link-danger.text-decoration-none.fw-medium.fs-16.ls-1(href="#") View Order
                td 128883777901
                td 2025-02-21 15:20:23
                td
                  span.text-warning Payment Processing
                td $117.30
