footer.b-footer.bg-secondary.clearfix.mt-md-11.mt-10
  .container
    .row
      .col-lg-1.col-sm-2.col-3
        a.d-block(href="#")
          img(src="img/f-logo.svg" alt="logo")
      .col-lg-11.col-sm-10.col-9
        .row
          .col-12.pt-2
            .d-flex.align-items-xl-center.column-gap-3.justify-content-between.border-top.border-black.pt-xl-7.pt-6.mb-5.flex-xl-row.flex-column
              span.flex-shrink-0.fs-14.fw-light.mb-xl-0.mb-5 &copy; 2025 BA. All Rights Reserved.
              ul._nav.nav.column-gap-xxl-13.column-gap-5.pt-xl-0.pt-6.flex-sm-row.flex-column.align-items-sm-stretch.align-items-start
                li.nav-item
                  a.nav-link.fs-xxl-18.fs-16(href="#") Product Categories
                li.nav-item
                  a.nav-link.fs-xxl-18.fs-16(href="#") Manufacturers
                li.nav-item
                  a.nav-link.fs-xxl-18.fs-16(href="#") Warehouses
                li.nav-item
                  a.nav-link.fs-xxl-18.fs-16(href="#") News
                li.nav-item
                  a.nav-link.fs-xxl-18.fs-16(href="#") About Us
                li.nav-item
                  a.nav-link.fs-xxl-18.fs-16(href="#") FAQ
                li.nav-item
                  a.nav-link.fs-xxl-18.fs-16(href="#") Terms
                li.nav-item
                  a.nav-link.fs-xxl-18.fs-16(href="#") Contacts
            .col-12
              .d-flex.justify-content-between.border-top.border-.pt-sm-6.pt-9.align-items-start
                ul.nav.align-items-md-center.column-gap-7.flex-md-row.flex-column.row-gap-6
                  li.d-inline-flex
                    a.d-inline-flex.mw-64(href="#")
                      img.w-100(src="img/partners/eroids.png" alt="eroids")
                  li.d-inline-flex
                    a.d-inline-flex.mw-133(href="#")
                      img.w-100(src="img/partners/mesorx.png" alt="mesorx")
                  li.d-inline-flex
                    a.d-inline-flex.mw-77(href="#")
                      img.w-100.mw-77(src="img/partners/muscle-gurus.png" alt="muscle-gurus")
                ul.nav.column-gap-3.flex-md-row.flex-column-reverse.row-gap-4
                  li
                    a.d-inline-flex(href="#")
                      img(src="img/icons/whatsapp.svg" alt="whatsapp")
                  li
                    a.d-inline-flex(href="#")
                      img(src="img/icons/telegram.svg" alt="telegram")
