head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=5')

  //- Custom Browsers Tab Color
  meta(name='theme-color' content='#fff')
  meta(name='msapplication-TileColor' content='#da532c')
  meta(name='description' content='')
  meta(name='keywords' content='')
  meta(property='og:title' content='')
  meta(property='og:type' content='')
  meta(property='og:url' content='')
  meta(property='og:image' content='')
  meta(property='og:site_name' content='')

  //- Favicon
  link(rel="icon" href="img/favicon/favicon.png")
  //- <link rel="preconnect" href="https://fonts.googleapis.com">
  //- <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  //- <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  //- Styles
  link(rel='stylesheet' href='css/libs.min.css')
  link(rel='stylesheet' href='css/main.min.css')
  title #{ title }