header.b-header
  .container 
    nav.navbar.navbar-expand-lg.justify-content-between.align-items-start
      a.navbar-brand.d-block.mw-196(href="/")
        include ../svg/logo.svg
      button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
        span.navbar-toggler-icon

      .collapse.navbar-collapse.justify-content-end(id="navbarSupportedContent")
        .d-flex.flex-column.row-gap-4
          .d-flex.justify-content-between.column-gap-4
            form.d-flex.flex-shrink-0.flex-grow-1(role="search")
              input.form-control.fw-light.mw-md-486.me-5(type="search" placeholder="Search" aria-label="Search")
              button.border-0.bg-transparent(type="submit")
                +icon('glass')
            
            .d-flex.column-gap-8
              select.js-select(name="currency")
                option(value="usd") USD
                option(value="eur") EUR
                option(value="aud") AUD

              select.js-select(name="language")
                option(value="eng") ENG
                option(value="rus") RUS

          ul.navbar-nav.me-auto.mb-2.mb-lg-0.gap-8
            li.nav-item
              a.nav-link(href="#") Product Categories
            li.nav-item
              a.nav-link(href="#") Manufacturers
            li.nav-item
              a.nav-link(href="#") Warehouses
            li.nav-item
              a.nav-link(href="#") News
            li.nav-item
              a.nav-link(href="#") About Us
            li.nav-item
              a.nav-link(href="#") FAQ
            li.nav-item
              a.nav-link(href="#") Terms
            li.nav-item
              a.nav-link(href="#") Contacts

        .vr.bg-gray-light.mx-11

        .d-flex.flex-column.pe-2.pt-1.row-gap-6
          a.link-black.fw-light.fs-9.text-decoration-none(href="#") Sign Up
          .d-flex.column-gap-8
            a.d-block.text-black(href="#")
              +icon('user')
            a.d-block.text-black.position-relative(href="#")
              +icon('basket')
              span.badge.position-absolute.top-0.start-100.translate-middle.bg-danger.rounded-circle.text-white.mt-1 2
