aside.d-flex.flex-column.row-gap-5.mb-8
  .bg-secondary.pt-4.ps-5.pe-4.pb-14
    h5.fw-normal.fs-22.ls-1.mb-6 Price Range
    #range
  .accordion#productCategories
    .accordion-item
      h5.accordion-header
        button.accordion-button.fs-22.ls-1.rounded(type="button" data-bs-toggle="collapse" data-bs-target="#collapseProductCategories" aria-expanded="true" aria-controls="collapseProductCategories") Product Categories
      .accordion-collapse.collapse.show#collapseProductCategories(data-bs-parent="#productCategories")
        .accordion-body.pt-0.pb-7
          .border-top
            nav.accordion-nav.nav.flex-column.fw-light.fs-18.mt-4.row-gap-3.overflow-y-auto.flex-nowrap.mh-426
              a.icon-link.lh-1.icon-link-hover.text-decoration-none.active(href="#")
                .accordion-icon.d-inline-flex
                  +icon('link-arrow')
                | Injectable Steroids 
              a.icon-link.lh-1.icon-link-hover.text-decoration-none(href="#")
                .accordion-icon.d-inline-flex
                  +icon('link-arrow')
                | Oral Steroids 
              a.icon-link.lh-1.icon-link-hover.text-decoration-none(href="#")
                .accordion-icon.d-inline-flex
                  +icon('link-arrow')
                | Weight Management 
              a.icon-link.lh-1.icon-link-hover.text-decoration-none(href="#")
                .accordion-icon.d-inline-flex
                  +icon('link-arrow')
                | Post Cycle Therapy  
              a.icon-link.lh-1.icon-link-hover.text-decoration-none(href="#")
                .accordion-icon.d-inline-flex
                  +icon('link-arrow')
                | Sexual Wellness 
              a.icon-link.lh-1.icon-link-hover.text-decoration-none(href="#")
                .accordion-icon.d-inline-flex
                  +icon('link-arrow')
                | HGH & Peptides  
              a.icon-link.lh-1.icon-link-hover.text-decoration-none(href="#")
                .accordion-icon.d-inline-flex
                  +icon('link-arrow')
                | SARMs 
              a.icon-link.lh-1.icon-link-hover.text-decoration-none(href="#")
                .accordion-icon.d-inline-flex
                  +icon('link-arrow')
                | Insulin 
              a.icon-link.lh-1.icon-link-hover.text-decoration-none(href="#")
                .accordion-icon.d-inline-flex
                  +icon('link-arrow')
                | Syringes & Needles  
              a.icon-link.lh-1.icon-link-hover.text-decoration-none(href="#")
                .accordion-icon.d-inline-flex
                  +icon('link-arrow')
                | Ancillaries 
              a.icon-link.lh-1.icon-link-hover.text-decoration-none(href="#")
                .accordion-icon.d-inline-flex
                  +icon('link-arrow')
                | Skin Health 
              a.icon-link.lh-1.icon-link-hover.text-decoration-none(href="#")
                .accordion-icon.d-inline-flex
                  +icon('link-arrow')
                | Vitamins & Suppleme nts
              a.icon-link.lh-1.icon-link-hover.text-decoration-none(href="#")
                .accordion-icon.d-inline-flex
                  +icon('link-arrow')
                | Sexual Wellness 

  .accordion#manufacturers
    .accordion-item
      h5.accordion-header
        button.accordion-button.collapsed.fs-22.ls-1.rounded(type="button" data-bs-toggle="collapse" data-bs-target="#collapseManufacturers" aria-expanded="false" aria-controls="collapseManufacturers") Manufacturers
      .accordion-collapse.collapse#collapseManufacturers(data-bs-parent="#manufacturers")
        .accordion-body.pt-0
          .border-top
            nav.accordion-nav.nav.flex-column.fw-light.fs-18.mt-4.row-gap-3.overflow-y-auto.flex-nowrap.mh-426
              a.icon-link.lh-1.icon-link-hover.text-decoration-none.active(href="#")
                .accordion-icon.d-inline-flex
                  +icon('link-arrow')
                | All Manufacturers
              a.icon-link.lh-1.icon-link-hover.text-decoration-none(href="#")
                .accordion-icon.d-inline-flex
                  +icon('link-arrow')
                | Pharmacom Labs
              a.icon-link.lh-1.icon-link-hover.text-decoration-none(href="#")
                .accordion-icon.d-inline-flex
                  +icon('link-arrow')
                | Pharmaqo
              a.icon-link.lh-1.icon-link-hover.text-decoration-none(href="#")
                .accordion-icon.d-inline-flex
                  +icon('link-arrow')
                | Stealth Labs
              a.icon-link.lh-1.icon-link-hover.text-decoration-none(href="#")
                .accordion-icon.d-inline-flex
                  +icon('link-arrow')
                | Ultima Pharma
              a.icon-link.lh-1.icon-link-hover.text-decoration-none(href="#")
                .accordion-icon.d-inline-flex
                  +icon('link-arrow')
                | Dragon Pharma
              a.icon-link.lh-1.icon-link-hover.text-decoration-none(href="#")
                .accordion-icon.d-inline-flex
                  +icon('link-arrow')
                | Nakon Medical
              a.icon-link.lh-1.icon-link-hover.text-decoration-none(href="#")
                .accordion-icon.d-inline-flex
                  +icon('link-arrow')
                | Para Pharma
              a.icon-link.lh-1.icon-link-hover.text-decoration-none(href="#")
                .accordion-icon.d-inline-flex
                  +icon('link-arrow')
                | Driada Medical
              a.icon-link.lh-1.icon-link-hover.text-decoration-none(href="#")
                .accordion-icon.d-inline-flex
                  +icon('link-arrow')
                | Deus Medical
              a.icon-link.lh-1.icon-link-hover.text-decoration-none(href="#")
                .accordion-icon.d-inline-flex
                  +icon('link-arrow')
                | Xeno Labs
              a.icon-link.lh-1.icon-link-hover.text-decoration-none(href="#")
                .accordion-icon.d-inline-flex
                  +icon('link-arrow')
                | Sixpex
              a.icon-link.lh-1.icon-link-hover.text-decoration-none(href="#")
                .accordion-icon.d-inline-flex
                  +icon('link-arrow')
                | Beligas
              a.icon-link.lh-1.icon-link-hover.text-decoration-none(href="#")
                .accordion-icon.d-inline-flex
                  +icon('link-arrow')
                | Dragon Pharma

  .accordion#warehouses
    .accordion-item
      h5.accordion-header
        button.accordion-button.collapsed.fs-22.ls-1.rounded(type="button" data-bs-toggle="collapse" data-bs-target="#collapseWarehouses" aria-expanded="false" aria-controls="collapseWarehouses") Warehouses
      .accordion-collapse.collapse#collapseWarehouses(data-bs-parent="#warehouses")
        .accordion-body.pt-0
          .border-top
            nav.accordion-nav.nav.flex-column.fw-light.fs-18.mt-4.row-gap-3.overflow-y-auto.flex-nowrap.mh-426
              a.icon-link.lh-1.icon-link-hover.text-decoration-none.active(href="#")
                .accordion-icon.d-inline-flex
                  +icon('link-arrow')
                | Pharmacom Labs
              a.icon-link.lh-1.icon-link-hover.text-decoration-none(href="#")
                .accordion-icon.d-inline-flex
                  +icon('link-arrow')
                | Pharmaqo
              a.icon-link.lh-1.icon-link-hover.text-decoration-none(href="#")
                .accordion-icon.d-inline-flex
                  +icon('link-arrow')
                | Stealth Labs
              a.icon-link.lh-1.icon-link-hover.text-decoration-none(href="#")
                .accordion-icon.d-inline-flex
                  +icon('link-arrow')
                | Ultima Pharma
              a.icon-link.lh-1.icon-link-hover.text-decoration-none(href="#")
                .accordion-icon.d-inline-flex
                  +icon('link-arrow')
                | Dragon Pharma
              a.icon-link.lh-1.icon-link-hover.text-decoration-none(href="#")
                .accordion-icon.d-inline-flex
                  +icon('link-arrow')
                | Nakon Medical
              a.icon-link.lh-1.icon-link-hover.text-decoration-none(href="#")
                .accordion-icon.d-inline-flex
                  +icon('link-arrow')
                | Para Pharma
              a.icon-link.lh-1.icon-link-hover.text-decoration-none(href="#")
                .accordion-icon.d-inline-flex
                  +icon('link-arrow')
                | Driada Medical
              a.icon-link.lh-1.icon-link-hover.text-decoration-none(href="#")
                .accordion-icon.d-inline-flex
                  +icon('link-arrow')
                | Deus Medical
              a.icon-link.lh-1.icon-link-hover.text-decoration-none(href="#")
                .accordion-icon.d-inline-flex
                  +icon('link-arrow')
                | Xeno Labs
              a.icon-link.lh-1.icon-link-hover.text-decoration-none(href="#")
                .accordion-icon.d-inline-flex
                  +icon('link-arrow')
                | Sixpex
              a.icon-link.lh-1.icon-link-hover.text-decoration-none(href="#")
                .accordion-icon.d-inline-flex
                  +icon('link-arrow')
                | Beligas
              a.icon-link.lh-1.icon-link-hover.text-decoration-none(href="#")
                .accordion-icon.d-inline-flex
                  +icon('link-arrow')
                | Dragon Pharma

  a.icon-link.link-danger.text-decoration-none(href="#")
    +icon('trash')
    span.lh-1.fs-18.ls-1 Clear
