* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: $deff;
  position: relative;
  width: 100%;
  min-width: 390px;
  max-width: 100%;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dd {
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 16px;
  height: 100%;
}

a {
  --bs-link-color-rgb: 0, 0, 0;
}

.wrapper {
  min-height: 100%;
  overflow-x: hidden;
}

.no-scrollbar {
  scrollbar-width: none;
  &::-webkit-scrollbar {
    width: 0;
  }
}

.stretch-to-right {
  margin-right: calc($grid-gutter-width / -2);

  @each $breakpoint, $container-max in $container-max-widths {
    @if map-has-key($grid-breakpoints, $breakpoint) {
      $min-width: map-get($grid-breakpoints, $breakpoint);

      @media (min-width: #{$min-width}) {
        @include stretchToRight($container-max);
      }
    }
  }
}

.opacity-75-hover {
  transition: opacity 0.2s ease-in-out;
  &:hover {
    opacity: 0.75;
  }
}
