.choices {
  font-size: 18px;
  letter-spacing: 0.16px;
  color: $black-50;

  &[data-type*="select-one"] {
    &::after {
      display: none;
    }
  }

  &.is-open {
    .choices__list--single {
      z-index: 2;
      &::before {
        transform: translateY(-50%) rotate(-180deg);
      }
    }
  }

  &__list--single {
    padding-right: 59px;
    position: relative;
    &::before {
      content: "";
      mask-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iNiIgdmlld0JveD0iMCAwIDEwIDYiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0xIDAuNUw1IDQuNUw5IDAuNSIgc3Ryb2tlPSJibGFjayIvPgo8L3N2Zz4K");
      background-color: #999999;
      border: none;
      width: 10px;
      height: 6px;
      position: absolute;
      top: 50%;
      right: 9px;
      transform: translateY(-50%);
      transition: all 0.3s ease;
    }

    .choices__item--selectable {
      color: $black;
    }
  }

  &__inner {
    padding: 5.5px 0 5.5px 11px;
    min-height: auto;
    border-color: #d1d1d1;
    font-size: inherit;
  }

  &__list--dropdown,
  &__list[aria-expanded] {
    top: calc(100% - 30px);
    padding-top: 30px;

    // .choices__list {
    //   z-index: 3;
    // }
  }

  &__list--dropdown &__item,
  &__list[aria-expanded] &__item {
    font-size: inherit;
    padding: 6px 10px;
  }
}

.choices--sm {
  .choices {
    font-size: 16px;

    &__list--single {
      padding-right: 34px;

      .choices__item--selectable {
        color: $black-50;
      }
    }

    &__inner {
      padding: 5px 0 5px 11px;
    }

    // .choices__list--dropdown .choices__item,
    // .choices__list[aria-expanded] .choices__item {
    //   padding: 11.5px 10px;
    // }
  }
}

.choices--lg {
  .choices {
    font-size: 18px;

    &__list--single {
      padding-right: 67px;

      .choices__item--selectable {
        color: $black;
      }
    }

    &__inner {
      padding: 10.5px 0 10.5px 11px;
    }

    .choices__list--dropdown .choices__item,
    .choices__list[aria-expanded] .choices__item {
      padding: 11.5px 10px;
    }
  }
}
