.icon {
  display: inline-block;
  width: 1rem;
  height: 1rem;

  &--glass {
    width: 21.5px;
    height: 21.5px;
  }

  &--user {
    width: 25px;
    height: 25px;
  }

  &--basket {
    width: 25px;
    height: 25px;
  }

  &--link-arrow {
    width: 14px;
    height: 6px;
  }

  &--trash {
    width: 16px;
    height: 18px;
  }

  &--signal {
    width: 14px;
    height: 12px;
  }

  &--arrow-left {
    color: $danger;
    width: 36px;
    height: 6px;
  }
}
