.alert.alert-dismissible.fade.show.bg-dark.text-white.rounded-0.pt-sm-10.pb-sm-9.ps-sm-3.ps-0.mb-0(role="alert")
  .container
    .row
      .col-xxl-9.col-12.offset-xxl-3
        .mw-xxl-950.mw-852.ms-xxl-n7.mx-xxl-0.mx-auto
          p.fs-lg-22.fs-md-18.fs-16.fw-normal
            | 🔥 Champions don’t wait — they act 🔥 Whether you’re grinding hard or going for the win, Ultima-Win gives you the edge you need. Get everything by this link: 
            a.link-danger.text-decoration-none(href="#") google.com
  button.btn-close(type="button" data-bs-dismiss="alert" aria-label="Close" style="--bs-btn-close-bg: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTciIGhlaWdodD0iMTciIHZpZXdCb3g9IjAgMCAxNyAxNyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTAuNDY5NjcgMC40Njk3MjdDMC43NjI1NjMgMC4xNzY4MzQgMS4yMzczMiAwLjE3NjgzNCAxLjUzMDIyIDAuNDY5NzI3TDE2LjUzMDIgMTUuNDY5N0MxNi44MjMxIDE1Ljc2MjYgMTYuODIzMSAxNi4yMzc0IDE2LjUzMDIgMTYuNTMwM0MxNi4yMzczIDE2LjgyMzIgMTUuNzYyNiAxNi44MjMyIDE1LjQ2OTcgMTYuNTMwM0wwLjQ2OTY3IDEuNTMwMjdDMC4xNzY3NzcgMS4yMzczOCAwLjE3Njc3NyAwLjc2MjYyIDAuNDY5NjcgMC40Njk3MjdaIiBmaWxsPSIjODk4OTg5Ii8+CjxwYXRoIGQ9Ik0xNi41MzAzIDAuNDY5NzI3QzE2LjIzNzQgMC4xNzY4MzQgMTUuNzYyNyAwLjE3NjgzNCAxNS40Njk4IDAuNDY5NzI3TDAuNDY5Nzg0IDE1LjQ2OTdDMC4xNzY4OSAxNS43NjI2IDAuMTc2ODkgMTYuMjM3NCAwLjQ2OTc4NCAxNi41MzAzQzAuNzYyNjc2IDE2LjgyMzIgMS4yMzc0NCAxNi44MjMyIDEuNTMwMzMgMTYuNTMwM0wxNi41MzAzIDEuNTMwMjdDMTYuODIzMiAxLjIzNzM4IDE2LjgyMzIgMC43NjI2MiAxNi41MzAzIDAuNDY5NzI3WiIgZmlsbD0iIzg5ODk4OSIvPgo8L3N2Zz4K')")