.alert.alert-dismissible.fade.show.bg-dark.text-white.rounded-0.pt-sm-10.pb-sm-9.ps-sm-3.ps-0.mb-0(role="alert")
  .container
    .row
      .col-md-9.col.offset-md-3
        .mw-sm-950.ms-n7
          p.fs-md-22.fs-16.fw-normal
            | 🔥 Champions don’t wait — they act 🔥 Whether you’re grinding hard or going for the win, Ultima-Win gives you the edge you need. Get everything by this link: 
            a.link-danger.text-decoration-none(href="#") google.com
  button.btn-close(type="button" data-bs-dismiss="alert" aria-label="Close")