aside.d-flex.flex-column.row-gap-4.mb-8
  .accordion#productCategories
    .accordion-item
      h5.accordion-header
        button.accordion-button.fs-22.ls-1.rounded(type="button" data-bs-toggle="collapse" data-bs-target="#collapseProductCategories" aria-expanded="true" aria-controls="collapseProductCategories") Product Categories
      .accordion-collapse.collapse.show#collapseProductCategories(data-bs-parent="#productCategories")
        .accordion-body.pt-0
          nav.nav.flex-column.fw-light.fs-18.border-top.pt-3
            a.icon-link.icon-link-hover.text-decoration-none.active(href="#")
              .accordion-icon
                +icon('link-arrow')
              | Injectable Steroids 
            a.icon-link.icon-link-hover.text-decoration-none(href="#")
              .accordion-icon
                +icon('link-arrow')
              | Oral Steroids 
            a.icon-link.icon-link-hover.text-decoration-none(href="#")
              .accordion-icon
                +icon('link-arrow')
              | Weight Management 
            a.icon-link.icon-link-hover.text-decoration-none(href="#")
              .accordion-icon
                +icon('link-arrow')
              | Post Cycle Therapy  
            a.icon-link.icon-link-hover.text-decoration-none(href="#")
              .accordion-icon
                +icon('link-arrow')
              | Sexual Wellness 
            a.icon-link.icon-link-hover.text-decoration-none(href="#")
              .accordion-icon
                +icon('link-arrow')
              | HGH & Peptides  
            a.icon-link.icon-link-hover.text-decoration-none(href="#")
              .accordion-icon
                +icon('link-arrow')
              | SARMs 
            a.icon-link.icon-link-hover.text-decoration-none(href="#")
              .accordion-icon
                +icon('link-arrow')
              | Insulin 
            a.icon-link.icon-link-hover.text-decoration-none(href="#")
              .accordion-icon
                +icon('link-arrow')
              | Syringes & Needles  
            a.icon-link.icon-link-hover.text-decoration-none(href="#")
              .accordion-icon
                +icon('link-arrow')
              | Ancillaries 
            a.icon-link.icon-link-hover.text-decoration-none(href="#")
              .accordion-icon
                +icon('link-arrow')
              | Skin Health 
            a.icon-link.icon-link-hover.text-decoration-none(href="#")
              .accordion-icon
                +icon('link-arrow')
              | Vitamins & Suppleme nts
            a.icon-link.icon-link-hover.text-decoration-none(href="#")
              .accordion-icon
                +icon('link-arrow')
              | Sexual Wellness 

  .accordion#manufacturers
    .accordion-item
      h5.accordion-header
        button.accordion-button.collapsed.fs-22.ls-1.rounded(type="button" data-bs-toggle="collapse" data-bs-target="#collapseManufacturers" aria-expanded="false" aria-controls="collapseManufacturers") Manufacturers
      .accordion-collapse.collapse#collapseManufacturers(data-bs-parent="#manufacturers")
        .accordion-body.pt-0
          nav.nav.flex-column.fw-light.fs-18.border-top.pt-3
            a.icon-link.icon-link-hover.text-decoration-none.active(href="#")
              .accordion-icon
                +icon('link-arrow')
              | Pharmacom Labs
            a.icon-link.icon-link-hover.text-decoration-none(href="#")
              .accordion-icon
                +icon('link-arrow')
              | Pharmaqo
            a.icon-link.icon-link-hover.text-decoration-none(href="#")
              .accordion-icon
                +icon('link-arrow')
              | Stealth Labs
            a.icon-link.icon-link-hover.text-decoration-none(href="#")
              .accordion-icon
                +icon('link-arrow')
              | Ultima Pharma
            a.icon-link.icon-link-hover.text-decoration-none(href="#")
              .accordion-icon
                +icon('link-arrow')
              | Dragon Pharma
            a.icon-link.icon-link-hover.text-decoration-none(href="#")
              .accordion-icon
                +icon('link-arrow')
              | Nakon Medical
            a.icon-link.icon-link-hover.text-decoration-none(href="#")
              .accordion-icon
                +icon('link-arrow')
              | Para Pharma
            a.icon-link.icon-link-hover.text-decoration-none(href="#")
              .accordion-icon
                +icon('link-arrow')
              | Driada Medical
            a.icon-link.icon-link-hover.text-decoration-none(href="#")
              .accordion-icon
                +icon('link-arrow')
              | Deus Medical
            a.icon-link.icon-link-hover.text-decoration-none(href="#")
              .accordion-icon
                +icon('link-arrow')
              | Xeno Labs
            a.icon-link.icon-link-hover.text-decoration-none(href="#")
              .accordion-icon
                +icon('link-arrow')
              | Sixpex
            a.icon-link.icon-link-hover.text-decoration-none(href="#")
              .accordion-icon
                +icon('link-arrow')
              | Beligas
            a.icon-link.icon-link-hover.text-decoration-none(href="#")
              .accordion-icon
                +icon('link-arrow')
              | Dragon Pharma

  .accordion#warehouses
    .accordion-item
      h5.accordion-header
        button.accordion-button.collapsed.fs-22.ls-1.rounded(type="button" data-bs-toggle="collapse" data-bs-target="#collapseWarehouses" aria-expanded="false" aria-controls="collapseWarehouses") Manufacturers
      .accordion-collapse.collapse#collapseWarehouses(data-bs-parent="#warehouses")
        .accordion-body.pt-0
          nav.nav.flex-column.fw-light.fs-18.border-top.pt-3
            a.icon-link.icon-link-hover.text-decoration-none.active(href="#")
              .accordion-icon
                +icon('link-arrow')
              | Pharmacom Labs
            a.icon-link.icon-link-hover.text-decoration-none(href="#")
              .accordion-icon
                +icon('link-arrow')
              | Pharmaqo
            a.icon-link.icon-link-hover.text-decoration-none(href="#")
              .accordion-icon
                +icon('link-arrow')
              | Stealth Labs
            a.icon-link.icon-link-hover.text-decoration-none(href="#")
              .accordion-icon
                +icon('link-arrow')
              | Ultima Pharma
            a.icon-link.icon-link-hover.text-decoration-none(href="#")
              .accordion-icon
                +icon('link-arrow')
              | Dragon Pharma
            a.icon-link.icon-link-hover.text-decoration-none(href="#")
              .accordion-icon
                +icon('link-arrow')
              | Nakon Medical
            a.icon-link.icon-link-hover.text-decoration-none(href="#")
              .accordion-icon
                +icon('link-arrow')
              | Para Pharma
            a.icon-link.icon-link-hover.text-decoration-none(href="#")
              .accordion-icon
                +icon('link-arrow')
              | Driada Medical
            a.icon-link.icon-link-hover.text-decoration-none(href="#")
              .accordion-icon
                +icon('link-arrow')
              | Deus Medical
            a.icon-link.icon-link-hover.text-decoration-none(href="#")
              .accordion-icon
                +icon('link-arrow')
              | Xeno Labs
            a.icon-link.icon-link-hover.text-decoration-none(href="#")
              .accordion-icon
                +icon('link-arrow')
              | Sixpex
            a.icon-link.icon-link-hover.text-decoration-none(href="#")
              .accordion-icon
                +icon('link-arrow')
              | Beligas
            a.icon-link.icon-link-hover.text-decoration-none(href="#")
              .accordion-icon
                +icon('link-arrow')
              | Dragon Pharma
