section.b-news-promo.pb-md-11.pb-6
  .container
    .d-flex.column-gap-5.overflow-x-auto.no-scrollbar.stretch-to-right
      +newsCard('🔋', '24.03.2025', 'POWER  SAVER INTERNATIONAL', 'Pharmacom Labs: Buy 3 + 1 FREE')
      +newsCard('💸', '24.03.2025', 'LIMITED HOT DEAL', 'OZEMPIC NOW 20% OFF')
      +newsCard('🕺', '24.03.2025', 'SEXUAL BOGO ALL MONTH!', 'Buy 1 + 1 Free From Warehouse I9')
      +newsCard('🔋', '24.03.2025', 'POWER  SAVER INTERNATIONAL', 'Pharmacom Labs: Buy 3 + 1 FREE')
      +newsCard('💸', '24.03.2025', 'LIMITED HOT DEAL', 'OZEMPIC NOW 20% OFF')
      +newsCard('🕺', '24.03.2025', 'SEXUAL BOGO ALL MONTH!', 'Buy 1 + 1 Free From Warehouse I9')


