section
  .container
    .card.fw-light
      .card-body
        .d-flex.column-gap-3
          span.fs-24 🔋
          .d-flex.flex-column
            .d-flex.fs-14
              span.text-danger.text-uppercase.me-2 News 
              span  24.03.2025
        
            dl
              dt.fs-22.fw-semibold POWER SAVER INTERNATIONAL
              dd.text-black.opacity-75.fs-20.ls-1 Pharmacom Labs: Buy 3 + 1 FREE


