section
  .container
    .d-flex.column-gap-4.overflow-x-auto.no-scrollbar
      .card.fw-light.flex-shrink-0
        .card-body
          .d-flex.column-gap-3
            span.fs-24 🔋
            .d-flex.flex-column
              .d-flex.fs-14.ls-1
                span.text-danger.text-uppercase.me-2 News 
                span  24.03.2025
              dl
                dt.fs-22.fw-semibold.ls-1 POWER SAVER INTERNATIONAL
                dd.text-black.opacity-70.fs-20.ls-1 Pharmacom Labs: Buy 3 + 1 FREE
      .card.fw-light.flex-shrink-0
        .card-body
          .d-flex.column-gap-3
            span.fs-24 💸
            .d-flex.flex-column
              .d-flex.fs-14.ls-1
                span.text-danger.text-uppercase.me-2 News
                span  24.03.2025
              dl
                dt.fs-22.fw-semibold.ls-1 LIMITED HOT DEAL
                dd.text-black.opacity-70.fs-20.ls-1 OZEMPIC NOW 20% OFF
      .card.fw-light.flex-shrink-0
        .card-body
          .d-flex.column-gap-3
            span.fs-24 🕺
            .d-flex.flex-column
              .d-flex.fs-14.ls-1
                span.text-danger.text-uppercase.me-2 News
                span  24.03.2025
              dl
                dt.fs-22.fw-semibold.ls-1 SEXUAL BOGO ALL MONTH!
                dd.text-black.opacity-70.fs-20.ls-1 Buy 1 + 1 Free From Warehouse I9
      .card.fw-light.flex-shrink-0
        .card-body
          .d-flex.column-gap-3
            span.fs-24 🔋
            .d-flex.flex-column
              .d-flex.fs-14.ls-1
                span.text-danger.text-uppercase.me-2 News 
                span  24.03.2025
              dl
                dt.fs-22.fw-semibold.ls-1 POWER SAVER INTERNATIONAL
                dd.text-black.opacity-70.fs-20.ls-1 Pharmacom Labs: Buy 3 + 1 FREE
      .card.fw-light.flex-shrink-0
        .card-body
          .d-flex.column-gap-3
            span.fs-24 💸
            .d-flex.flex-column
              .d-flex.fs-14.ls-1
                span.text-danger.text-uppercase.me-2 News
                span  24.03.2025
              dl
                dt.fs-22.fw-semibold.ls-1 LIMITED HOT DEAL
                dd.text-black.opacity-70.fs-20.ls-1 OZEMPIC NOW 20% OFF
      .card.fw-light.flex-shrink-0
        .card-body
          .d-flex.column-gap-3
            span.fs-24 🕺
            .d-flex.flex-column
              .d-flex.fs-14.ls-1
                span.text-danger.text-uppercase.me-2 News
                span  24.03.2025
              dl
                dt.fs-22.fw-semibold.ls-1 SEXUAL BOGO ALL MONTH!
                dd.text-black.opacity-70.fs-20.ls-1 Buy 1 + 1 Free From Warehouse I9


