section.promo.bg-black.mb-10
  .d-flex.column-gap-4
    .mw-1099
      img.w-100.h-100.object-fit-cover(src="img/banners/banner-sale.jpg", alt="sale")
    .d-flex.flex-column.justify-content-between.row-gap-3.mw-561
      .rounded-bottom.overflow-hidden.h-100
        img.w-100.h-100.object-fit-cover(src="img/banners/banner-promotion.jpg", alt="promotion")
      .rounded-top.overflow-hidden.h-100
        img.w-100.h-100.object-fit-cover(src="img/banners/banner-product.jpg", alt="Product Banner")
