section.promo.bg-black.mb-md-11.mb-5
  .d-flex.flex-lg-row.flex-column.column-gap-5.row-gap-4
    a.d-block.opacity-75-hover.mw-1099(href="#")
      picture.d-block
        source(srcset="img/banners/banner-sale-mobile.jpg" media="(max-width: 768px)")
        img.w-100.h-100.object-fit-cover(src="img/banners/banner-sale.jpg", alt="Sale banner")
    .d-flex.flex-column.justify-content-between.row-gap-4.mw-561
      a.d-block.opacity-75-hover.rounded-bottom.overflow-hidden.h-100(href="#")
        picture.d-block
          source(srcset="img/banners/banner-promotion-mobile.jpg" media="(max-width: 768px)")
          img.w-100.h-100.object-fit-cover(src="img/banners/banner-promotion.jpg", alt="Promotion banner")
      a.d-block.opacity-75-hover.rounded-top.overflow-hidden.h-100(href="#")
        picture.d-block
          source(srcset="img/banners/banner-product-mobile.jpg" media="(max-width: 768px)")
          img.w-100.h-100.object-fit-cover(src="img/banners/banner-product.jpg", alt="Product Banner")
